<div class="main-div">
    <form>
      <label for="fname">Grade Level:</label>
      <input type="text" id="fname" name="fname" disabled/>
  
      <label for="lname">Enrollment Date:</label>
      <input type="text" id="lname" name="lname" disabled/>
  
      <label for="lname">Major:</label>
      <input type="text" id="lname" name="lname" disabled/>

      <label for="lname">Previous School:</label>
      <input type="text" id="lname" name="lname" disabled/>
  
      <button>Update</button>
    </form>
  </div>
  