<app-sidebar />
<app-sidebar-right />
<div class="main-div">
  <form>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" disabled/>

    <label for="lname">Middle name:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <label for="lname">Date of Birth:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <label for="lname">Gender:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <label for="lname">Nationality:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <label for="lname">Address:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <label for="lname">Contact Number:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <label for="lname">Email Address:</label>
    <input type="text" id="lname" name="lname" disabled/>

    <button>Update</button>
  </form>
</div>
