<body>
  <div class="sidebar" id="sidebar">
    <div class="top">
      <div class="logo">
        <i class='bx bxl-windows'></i>
        <span class="logo-text">Student System</span>
        <i class='bx bx-search-alt'></i>
      </div>
    </div>
    
    <div class="button-container">
      <button class="sidebar-button">Add</button>
      <button class="sidebar-button">Delete</button>
    </div>
    
    <ul>
      <li>
        <a routerLink="/personal-information">
          <i class="bx bx-child"></i>
          <span class="nav-item">Personal Information</span>
        </a>
      </li>

      
      <li>
        <a routerLink="/personal-identification">
          <i class="bx bxs-id-card"></i>
          <span class="nav-item">Identification Information</span>
        </a>
      </li>

      <li>
        <a routerLink="/academic-information">
          <i class="bx bxs-book"></i>
          <span class="nav-item">Academic Information</span>
        </a>
      </li>

      <li>
        <a routerLink="/emergency-information">
          <i class="bx bxs-contact"></i>
          <span class="nav-item">Contact & Emergency Information</span>
        </a>
      </li>

      <li>
        <a routerLink="/health-information">
          <i class="bx bx-health"></i>
          <span class="nav-item">Health & Medical Information</span>
        </a>
      </li>

      <li>
        <a routerLink="/financial-information">
          <i class="bx bxs-wallet-alt"></i>
          <span class="nav-item">Financial Information</span>
        </a>
      </li>

      <li>
        <a routerLink="/extra-information">
          <i class="bx bxs-basketball"></i>
          <span class="nav-item">Extra-Curricular Activities</span>
        </a>
      </li>

      <li>
        <a routerLink="/logout">
          <i class="bx bx-log-out"></i>
          <span class="nav-item">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</body>
